body{background-color: lightblue;}
*{box-sizing: border-box;}
.colorContainer{width: 50%; height: 200px; border: ridge 10px gray; margin: 2em auto;}
#btnColor{background-color: lightgray; color: purple; padding: 0.5em; border-radius: 1em; margin: 5em 40%;}
.divContainer{ display:inline-block; width: 100%;}
.divColor{width: 30%; height:100px; margin-left: 2%; margin-bottom: 2em; border: inset 10px; float: left;}
/*example 11*/
.display9{
  position: fixed; right: 0%; top: 0%; padding: 3em; background-color: rgba(10,10,10,0.8); width: 50%; color: white;
}
/*example 12 */
html{scroll-behavior: smooth; }
.toTop{
  position: fixed; bottom: 10%; right: 10%;
  width: 60px; height: 60px; border-radius: 50%;
  background-color: rgba(100,100,100,0.9); text-align: center;
}
.toTop a{
  color: white;
  text-decoration: none;
}
.toTop:hover{
  box-shadow: 0px 0px 5px 2px gray;
  opacity: 0.6;
}
