*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
/*header and navigation*/
.title{ text-align: center; color: #62757f; background-color: #c1d5e0; padding: 50px 10px 50px 10px; font-family: Georgia; font-size: 2.6em;}
.intro{ font: normal normal bold normal 0.8em Georgia;}

.nav a:hover{background-color: #e2f1f8; color: #808e95;}
.nav{  width: 100%;  height: auto;}
.nav a{  background-color: #c1d5e0;  width: 32.9%;  padding: 1em;  display: inline-block;  text-align: center;text-decoration: none;color: #62757f;}
.footer{  position:fixed; bottom:0; left:0; right:0; height: 60px;}
.mainTitle{color: #62757f; background-color: #c1d5e0; text-align: center;}

/* couch and chair images*/
.couches{border: solid 0.3em #62757f ;}
.chairs{border: solid 0.3em #62757f;}
.couch1, .couch2, .couch3 {width:20%;}
.chair1, .chair2, .chair3 {width: 15%;}

/*slideshow*/
.slideHeader{text-align: center; color: #62757f; background-color: #c1d5e0; padding: 50px 10px 50px 10px; font-family: Georgia; position: absolute; opacity: 0.75;}
.slideHead{ }
.container_slideshow{  border: solid blue;  width: 80%;margin: 2em auto; position: relative; overflow: hidden;}
.slide, .slideAuto{  width:100%;  display: none;
animation : slideAnimation: 1.2s ;}
@keyframes slideAnimation {0%{transform: translateX(50px); } 100%{transform: translateX(0px);}}

.slide img, .slideAuto img{
  width: 100%;
  vertical-align: middle;}

.slide p, .slideAuto p{  position: absolute;  left: 100%;  right:10%;  top:35%;  bottom: 35%;  text-align: center;  font-size: 5em;  color: white;}
.prev, .next{  position: absolute;  top: 40%;  font-size: 3em;  color: lightgrey;  display: inline-block;  padding: 0.5em 1em;}
.prev{left:25%}
.next{right:2%}
.prev:hover , .next:hover{  background-color: rgba(25,56,180,0.8);  color: black;}
